{% extends "rango/base.html" %}

{% block title %}
    Agregar Categorias
{% endblock title %}

{% block body_block %}
<div class="jumbotron">
    <h1>Agregar Categoria</h1>
    <br/>
    <div class="container">
        <form role="form" id="category_form" method="post" action="/rango/add_category/">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
            {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}<br/>
            {{ field }}
            {% endfor %}

            <br/>
            <button class="btn btn-default" type="submit" name="submit">Crea una Categoria</button>
        </form>
    </div>
</div>
{% endblock body_block %}