<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Category</title>
</head>
<body>
    <h1>{{ category_name }}</h1>
    {% if category %}
        <a href="/rango/category/{{ category_name_url }}/add_page/"> Agrega paginas a esta categoria </a>
        {% if pages %}
            <ul>
                {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>No hay paginas en esta categoria.</strong>
        {% endif %}
    {% else %}
        La categoria {{ category_name }} no existe.
    {% endif %}
</body>
</html>