<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rango</title>
</head>
<body>
    {% if user.is_authenticated %}
        <h1>Rango dice... Hola {{ user.username }}!</h1>    
    {% else %}
        <h1>Rango dice... Hola Mundo</h1>
    {% endif %}
    <!-- 
    Hola Mundo! <strong> {{boldmessage}}</strong><br>-->
    <a href="/rango/about">Acerca de</a><br>
    <a href="/rango/add_category">Agrega una nueva Categoria</a><br>
    <a href="/rango/register/">Registrate</a><br>
    <a href="/rango/login">Logueate</a><br>
    <h3>Top 5 de Categorias</h3>
    {% if categories %}
        <ul>
            {% for category in categories %}
            <li><a href="/rango/category/{{ category.url }}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>No hay categorias aqui!!!</strong>
    {% endif %}

    <h3>Top 5 de Paginas</h3>
    {% if pages %}
        <ul>
            {% for page in pages %}
            <li><a href="{{ page.url }}">{{ page.title }}</a></li>    
            {% endfor %}
        </ul>
    {% else %}
        <strong>No hay paginas</strong>
    {% endif %}

    <img src="{% static 'rango.jpg' %}" alt="Foto de rango">
</body>
</html>