<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rango</title>
</head>
<body>
    <h1>Registrate en Rango</h1>

    {% if registered %}
        Rango dice: <strong>Gracias por registrarte</strong><br>
        <a href="/rango/">Regresa al Inicio</a><br>
    {% else %}
        Rango dice: <strong>Registrate aqui!!!</strong><br>
        <form id='user_form' method='post' action="/rango/register/" enctype='multipart/form-data'>
            {% csrf_token %}
            {% comment %}
                Muestra cada forma. El metodo as_p envuelve cada elemento en un parrafo <p>.
                Esto asegura que cada elemento aparesca en una nueva linea.
            {% endcomment %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <input type="submit" name='submit' value='Registrate'>
        </form>
    {% endif %}
</body>
</html>