{% extends "rango/base.html" %}

{% block title %}
    Registrate
{% endblock title %}

{% block body_block %}
<div class="jumbotron">
    <h1>Registrate con Rango</h1>
    <br />

    <div class="container">
        {% if registered %}
        <p>Gracias por registrarte.</p>

        <p><a href="/rango/login/">Login</a> logueate cuando estes listo para Rango.</p>
        {% else %}
        <form class="form-signin col-md-8" id="user_form" method="post" action="/rango/register/"
              enctype="multipart/form-data">
            {% csrf_token %}
            <h2 class="form-signin-heading">Registrate aqui!</h2>
            <!-- Display each form here -->

            {% for field in user_form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}<br />
            {{ field }}<br />
            {% endfor %}

            {% for field in profile_form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}<br />
            {{ field }}<br />
            {% endfor %}

            <br />
            <!-- Provide a button to click to submit the form. -->
            <input class="btn btn-primary" type="submit" name="submit" value="Registrate"/>
        </form>
        {% endif %}
    </div>
</div>
{% endblock body_block %}