{% extends "rango/base.html" %}

{% load static %}

{% block title %}
    Busqueda
{% endblock title %}

{% block body_block %}
    <div class="jumbotron">
     <h1>Busca con Rango</h1>
    <br />
    <div class="container">
        <form class="form-signin col-md-8" id="user_form" method="post" action="/rango/search/">
            {% csrf_token %}
            <!-- Display the search form elements here -->
            <input type="text" size="50" name="query" value="" id="query"/>
            <input class="btn btn-primary" type="submit" name="submit" value="Buscar"/>
            <br />
        </form>
        {% if result_list %}
        <!-- Display search results in an ordered list -->
            <div style="clear: both">
                <ol>
                    {% for result in result_list %}
                        <li> 
                            <strong><a href="{{ result.link }}">{{ result.title }}</a></strong>
                            <br/> 
                            <em>{{ result.summary }}</em>
                        </li>
                    {% endfor %}
                </ol>
            </div>
        {% endif %}
    </div>
{% endblock body_block %}